version: '3.8'

services:
  milvus:
    ports:
      - "19530:19530"
      - "9091:9091"

  neo4j:
    ports:
      - "7474:7474"
      - "7687:7687"

  postgres:
    ports:
      - "5432:5432"
  
  minio:
    ports:
      - "9000:9000"
      - "9001:9001"
